* {
    margin: 0;
    padding: 0;
}

#main-heading {
    text-align: center;
    color: #800C49;
    font-family: 'Open Sans Condensed', 'sans-serif';
    margin: 20px 0;
}

#input-path-para:hover {
    cursor: pointer;
    color: steelblue;
}